<style>
h1{
    color:red;
}
</style>
<h1>Vista</h1>

<ul>
    {{#productos}}
        <li>id: {{id}}, marrca: {{marca}}, modelo: {{modelo}}, motor: {{motor}}, nombre: {{nombre}}, precio: {{precio}}</li>
    {{/productos}}
</ul>

<form action="/tienda" method="get">
    Acceda a nuestra tienda: 
    <input type="hidden" name="task" value="tienda">
    <input type="submit" value="Tienda">
</form>
<br>
<form action="/taller" method="get">
    Revise los servicios del taller: 
    <input type="hidden" name="task" value="taller">
    <input type="submit" value="Taller">
</form>


<form action="/registrarUsuario" method="get">
  <input type="text" name="nombreRegistro" placeholder="Nombre de Perfil">
  <input type="text" name="contrasenaRegistro" placeholder="contrasena">
  <input type="text" name="correoRegistro" placeholder="correo">
  <input type="hidden" name="task" value="registrarUsuario">
  <input type="submit" value="Enviar">
</form>

<form action="/login" method="get">
  <input type="text" name="nombreRegistro" placeholder="Nombre de Perfil">
  <input type="text" name="contrasenaRegistro" placeholder="contrasena">
  <input type="hidden" name="task" value="login">
  <input type="submit" value="Enviar">
</form>

<form>
   <select id="marcas" name="marcas">
      {{#marcas}}<option value='{{nombre}}'>{{nombre}}</option>{{/marcas}}
   </select>
   <input type="submit" value="Submit">
</form>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.0.1/mustache.min.js"></script>
<script>
    $(document).ready(function() {
        $.getJSON("", function(data) {
            var template = "{{#marcas}}<option value='{{nombre}}'>{{nombre}}</option>{{/marcas}}";
            var html = Mustache.render(template, {marcas: data});
            console.log(html);
            $("#marcas").html(html);
        });
    });
</script>





