<style>
h1{
    color:red;
}
</style>
<h1>Vista</h1>

<ul>
    {{#productos}}
        <li>id: {{id}}, marrca: {{marca}}, modelo: {{modelo}}, motor: {{motor}}, nombre: {{nombre}}, precio: {{precio}}</li>
    {{/productos}}
</ul>

<form action="/tienda" method="get">
    Acceda a nuestra tienda: 
    <input type="hidden" name="task" value="tienda">
    <input type="submit" value="Tienda">
</form>
<br>
<form action="/taller" method="get">
    Revise los servicios del taller: 
    <input type="hidden" name="task" value="taller">
    <input type="submit" value="Taller">
</form>
<form action="/listar" method="get">
    Listar productos:
    <input type="hidden" name="task" value="listar">
    <input type="submit" value="Listar">
</form>

<form action="/registrarUsuario" method="get">
  <input type="text" name="nombreRegistro" placeholder="Nombre de Perfil">
  <input type="text" name="contrasenaRegistro" placeholder="contrasena">
  <input type="text" name="correoRegistro" placeholder="correo">
  <input type="hidden" name="task" value="registrarUsuario">
  <input type="submit" value="Enviar">
</form>

<form action="/login" method="get">
  <input type="text" name="nombreRegistro" placeholder="Nombre de Perfil">
  <input type="text" name="contrasenaRegistro" placeholder="contrasena">
  <input type="hidden" name="task" value="login">
  <input type="submit" value="Enviar">
</form>

<div class="form-group" id="submenu_list"></div>

<div id="dropDownList" type="text/template"> 
    <select class="form-control" name="sub_menu" id="sub_menu">
        {{#marcas}}
            <option value="{{nombre}}">{{nombre}}</option>
        {{/marcas}}         
    </select>
</div>

<script>
    $(document).ready(function() {
        var template = $("#dropDownList").html();
        var subMenuList = Mustache.render(template, data);
        $("#submenu_list").html(subMenuList);
    });
</script>


