<h1>Tienda</h1>
<form action="/listar" method="get">
    Listar productos:
    <input type="hidden" name="task" value="listar">
    <input type="submit" value="Listar">
</form>
<ul>
    {{#productos}}
        <li>{{marca}}, {{modelo}}, {{motor}}, nombre: {{nombre}}, precio: {{precio}}</li>
        <li><img url(`{{urlImagen}}`)></li>
    {{/productos}}
</ul>